<!--
*
* LOOPSHAPE > "Blue Heaven" Theme
*
* ------------------------------------------------------------
* Programmed by: Arjuna Noorsanto, {Webmaster of Loopshape}
* Released on: 2014/10/16
* ------------------------------------------------------------
* Loopshape.org > "Web Development & Media Design"
* Contact: webmaster@loopshape.com
* ------------------------------------------------------------
*
* http://loopshape.org
*
-->

<f:layout name="default" />
<f:section name="body">
    <f:render partial="stage" arguments="{logo:logo, header:header, login:login, teaser:teaser, navi:navi, content:content, sidebar:sidebar, footer:footer}" />
</f:section>