<!-- ############################################################################################################################# -->

<!-- TT_NEWS TEMPLATES -->

<!-- #############################################################################################################################

NEWS_UID - ID number (uid) of the news item
NEWS_TITLE - News item title
NEWS_AUTHOR - name of author
NEWS_EMAIL - email of author
NEWS_DATE - date
NEWS_TIME - time
NEWS_AGE - age of news item in minutes, hours, days or years
NEWS_SUBHEADER - subheader, if empty main content is inserted here in LIST and LATEST
NEWS_CONTENT - main content
NEWS_LINKS - news links
NEWS_CATEGORY - news item category
NEWS_CATEGORY_IMAGE - news item category image
NEWS_RELATED - links to related news
NEWS_IMAGE - news item images
NEWS_CATEGORY_ROOTLINE - category rootline

PAGE_UID - Page id of the parent page (pid)
PAGE_TITLE - Title of the parent page of the news item
PAGE_AUTHOR - Page author, if any
PAGE_AUTHOR_EMAIL - Page author email, if any

<em>News Language Markers (see pi/locallang.php):</em>
LATEST_HEADER - header for the LATEST element
GOTOARCHIVE - link to archive page in latest template
ARCHIVE_HEADER - same for AMENU
MORE - more ;-)
TEXT_CAT - text output before categories and category images in LIST view (eg: 'categories:')
TEXT_CAT_LATEST - the same in a shorter form for the LATEST element (eg: 'cat:')
BACK_TO_LIST - link back to list-view in single-view template
ARCHIVE_EMPTY_MSG - no items in archive
SEARCH_EMPTY_MSG - message for empty search results
TEXT_NEWS_AGE - text inserted before the age of the news item

<em>Wrapped Subparts:</em>
LINK_ITEM - link to the news item single display
LINK_PREV - used in the pagebrowser
BROWSE_LINKS - used in the pagebrowser
LINK_NEXT - used in the pagebrowser
</pre>

################################################################################################################################## -->

<div>
    <!-- ###TEMPLATE_LATEST### begin
    This is the template for the latest news, typically displayed on a frontpage
    -->
    <div class="news-latest-container">
        <!-- ###CONTENT### begin
        This is the part of the template substituted with the list of news:
        -->
        <!-- ###NEWS### begin
        Template for a single item
        -->
        <div class="news-latest-item">
            <div class="header">
                <span class="news-latest-date">###NEWS_DATE### ###NEWS_TIME###</span>
                <h3><!--###LINK_ITEM###-->###NEWS_TITLE###<!--###LINK_ITEM###--></h3>
            </div>
            <div class="cf"></div>
            <div class="info">
                <div class="img">
                    <!--###LINK_ITEM###-->
                    ###NEWS_IMAGE###<!--###LINK_ITEM###-->
                </div>
                <div class="newsWrap">
                    <div class="catitems">
                        ###CATWRAP_B### ###TEXT_CAT_LATEST### ###NEWS_CATEGORY### ###NEWS_CATEGORY_IMAGE### ###CATWRAP_E###
                    </div>
                    <div class="cf"></div>
                    <div class="subline">
                        <!--###LINK_ITEM###-->
                        ###NEWS_SUBHEADER###<!--###LINK_ITEM###-->
                    </div>
                </div>
            </div>
            <div class="cf"></div>
        </div>
        <div class="cf"></div>
        <!-- ###NEWS### end-->
        <!-- ###CONTENT###  end -->
        <div class="news-latest-gotoarchive">
            <!--###LINK_ARCHIVE###-->
            ###GOTOARCHIVE###<!--###LINK_ARCHIVE###-->
        </div>
    </div>
    <style rel="stylesheet">
        #page #stage .cWrap #content {
            padding-right: 0 !important;
        }
    </style>
    <!-- ###TEMPLATE_LATEST### end -->

    <!-- ############################################################################################################################# -->

    <!-- ###TEMPLATE_LIST### begin
    This is the template for the list of news in the archive or news page or search
    -->
    <div class="news-list-container">
        ###NEWS_CATEGORY_ROOTLINE###
        <!-- ###CONTENT### begin
        This is the part of the template substituted with the list of news:
        -->
        <!-- ###NEWS### begin
        Template for a single item
        -->
        <div class="news-list-item">
            <span class="news-list-date">###NEWS_DATE###</span>
            <h3><!--###LINK_ITEM###-->###NEWS_TITLE###<!--###LINK_ITEM###--></h3>
            <!--###LINK_ITEM###-->
            ###NEWS_IMAGE###<!--###LINK_ITEM###-->
            ###NEWS_SUBHEADER###
            ###CATWRAP_B### ###TEXT_CAT### ###NEWS_CATEGORY### ###NEWS_CATEGORY_IMAGE### ###CATWRAP_E###

            <hr class="cf" />
        </div>
        <!-- ###NEWS### end-->
        <!-- ###CONTENT###  end -->
        ###BROWSE_LINKS###
    </div>
    <!-- ###TEMPLATE_LIST### end -->

    <!-- ############################################################################################################################# -->

    <!-- ###TEMPLATE_LIST2### begin
    This is the template for the list of news in the archive or news page or search
    -->
    <div class="news-list2-container">
        ###NEWS_CATEGORY_ROOTLINE###
        <!-- ###CONTENT### begin
        This is the part of the template substituted with the list of news:
        -->
        <!-- ###NEWS### begin -->
        <div class="list2-subdiv-hdr">
            <div class="hdr-left">
                <span class="news-list-date">###NEWS_DATE###</span>
                <h3><!--###LINK_ITEM###-->###NEWS_TITLE###<!--###LINK_ITEM###--></h3>
                <!--###LINK_ITEM###-->
                ###NEWS_IMAGE###<!--###LINK_ITEM###-->
                ###NEWS_SUBHEADER###
                ###CATWRAP_B### ###TEXT_CAT### ###NEWS_CATEGORY### ###NEWS_CATEGORY_IMAGE### ###CATWRAP_E###
            </div>
            <!-- ###NEWS### end-->
            <!-- ###NEWS_1### begin -->
            <div class="hdr-right">
                <span class="news-list-date">###NEWS_DATE###</span>
                <h3><!--###LINK_ITEM###-->###NEWS_TITLE###<!--###LINK_ITEM###--></h3>
                <!--###LINK_ITEM###-->
                ###NEWS_IMAGE###<!--###LINK_ITEM###-->
                ###NEWS_SUBHEADER###
                ###CATWRAP_B### ###TEXT_CAT### ###NEWS_CATEGORY### ###NEWS_CATEGORY_IMAGE### ###CATWRAP_E###
            </div>
            <hr class="cf" />
        </div>
        <!-- ###NEWS_1### end-->

        <!-- ###NEWS_2### begin -->
        <div class="list2-subdiv">
            <div class="sub-left">
                <span class="news-list-date">###NEWS_DATE###</span>
                <h3><!--###LINK_ITEM###-->###NEWS_TITLE###<!--###LINK_ITEM###--></h3>
                <!--###LINK_ITEM###-->
                ###NEWS_IMAGE###<!--###LINK_ITEM###-->
                ###NEWS_SUBHEADER###
                ###CATWRAP_B### ###TEXT_CAT### ###NEWS_CATEGORY### ###NEWS_CATEGORY_IMAGE### ###CATWRAP_E###
            </div>
            <!-- ###NEWS_2### end-->
            <!-- ###NEWS_3### begin -->
            <div class="sub-middle">
                <span class="news-list-date">###NEWS_DATE###</span>
                <h3><!--###LINK_ITEM###-->###NEWS_TITLE###<!--###LINK_ITEM###--></h3>
                <!--###LINK_ITEM###-->
                ###NEWS_IMAGE###<!--###LINK_ITEM###-->
                ###NEWS_SUBHEADER###
                ###CATWRAP_B### ###TEXT_CAT### ###NEWS_CATEGORY### ###NEWS_CATEGORY_IMAGE### ###CATWRAP_E###
            </div>
            <!-- ###NEWS_3### end-->
            <!-- ###NEWS_4### begin -->
            <div class="sub-right">
                <span class="news-list-date">###NEWS_DATE###</span>
                <h3><!--###LINK_ITEM###-->###NEWS_TITLE###<!--###LINK_ITEM###--></h3>
                <!--###LINK_ITEM###-->
                ###NEWS_IMAGE###<!--###LINK_ITEM###-->
                ###NEWS_SUBHEADER###
                ###CATWRAP_B### ###TEXT_CAT### ###NEWS_CATEGORY### ###NEWS_CATEGORY_IMAGE### ###CATWRAP_E###
            </div>
        </div>
        <hr class="cf" />
        <!-- ###NEWS_4### end-->

        <!-- ###NEWS_5### begin -->
        <div class="news-list-item">
            <span class="news-list-date">###NEWS_DATE###</span>
            <h3><!--###LINK_ITEM###-->###NEWS_TITLE###<!--###LINK_ITEM###--></h3>
            <!--###LINK_ITEM###-->
            ###NEWS_IMAGE###<!--###LINK_ITEM###-->
            ###NEWS_SUBHEADER###
            ###CATWRAP_B### ###TEXT_CAT### ###NEWS_CATEGORY### ###NEWS_CATEGORY_IMAGE### ###CATWRAP_E###
            <hr class="cf" />
        </div>
        <!-- ###NEWS_5### end-->
        <!-- ###CONTENT###  end -->
    </div>
    <!-- ###TEMPLATE_LIST2### end -->

    <!-- ############################################################################################################################# -->

    <!-- ###TEMPLATE_LIST3### begin
    This is the template for the list of news in the archive or news page or search
    -->
    <div class="news-list3-container">
        ###NEWS_CATEGORY_ROOTLINE###
        <!-- ###CONTENT### begin
        This is the part of the template substituted with the list of news:
        -->
        <!-- ###NEWS### begin -->
        <div class="news-list3-item">
            <div class="header">
                <span class="news-list-date"><!--###LINK_ITEM###-->###NEWS_DATE###<!--###LINK_ITEM###--></span>
                <div class="subheader">
                    <h3><!--###LINK_ITEM###-->###NEWS_TITLE###<!--###LINK_ITEM###--></h3>
                </div>
                <div class="newsImage">
                    <!--###LINK_ITEM###-->
                    ###NEWS_IMAGE###
                    <!--###LINK_ITEM###-->
                </div>
                <div class="newsBody">
                    ###CATWRAP_B### ###TEXT_CAT### ###NEWS_CATEGORY### ###NEWS_CATEGORY_IMAGE### ###CATWRAP_E###
                    <div class="cf"></div>
                </div>
            </div>
        </div>
        <div class="cf"></div>
        <!-- ###NEWS### end-->
        <!-- ###CONTENT###  end -->
    </div>
</div>
<div class="cf"></div>
<style rel="stylesheet">
    .cWrap {
        width: 100% !important;
    }
    .cWrap #content {
        width: 100% !important;
        max-width: 100% !important;
        padding-right: 0 !important;
    }
    .cWrap #content h2.csc-firstheader {
        display: none !important;
    }
</style>
<!-- ###TEMPLATE_LIST3### end -->

<!-- ############################################################################################################################# -->

<!-- ###TEMPLATE_SINGLE### begin
This subpart is used to display single news items
-->
<div class="news-single-item">

    ###NEWS_CATEGORY_ROOTLINE###

    <div class="newsNavi">
        ###NEXT_ARTICLE###
        ###PREV_ARTICLE###
    </div>

    <div class="header">
        <div class="headerWrap">
            <div class="headline">
                <h2>###NEWS_TITLE###</h2>
            </div>
            <div class="subline">
                ###NEWS_SUBHEADER###
            </div>
        </div>
        <div class="sideheader">
            ###NEWS_DATE### ###NEWS_TIME### ###TEXT_NEWS_AGE### ###NEWS_AGE###
            ###CATWRAP_B### ###TEXT_CAT### ###NEWS_CATEGORY### ###NEWS_CATEGORY_IMAGE### ###CATWRAP_E###
            ###NEWS_AUTHOR###
        </div>
    </div>
    <div class="cf"></div>

    <div class="newsMain">
        <div class="newsImage">
            ###NEWS_IMAGE###
        </div>
        <div class="newsContent">
            ###NEWS_CONTENT###
        </div>
    </div>
    <div class="cf"></div>

    ###ADDINFO_WRAP_B###

    ###TEXT_RELATED###
    ###NEWS_RELATED###

    ###TEXT_FILES###
    ###FILE_LINK###

    ###TEXT_LINKS###
    ###NEWS_LINKS###

    ###TEXT_RELATEDBYCATEGORY###
    ###NEWS_RELATEDBYCATEGORY###

    ###ADDINFO_WRAP_E###

    <div class="cf"></div>

    <div class="pageBrowser">
        ###NEWS_SINGLE_PAGEBROWSER###
    </div>

    <div class="news-single-backlink">
        <!--###LINK_ITEM###-->
        ###BACK_TO_LIST###<!--###LINK_ITEM###-->
    </div>
    
</div>
<style rel="stylesheet">
    .cWrap #content {
        width: 100% !important;
        max-width: 100% !important;
        padding: 0 !important;
    }
    .cWrap #content header:first-of-type {
        width: 100% !important;
    }
    .cWrap #content h2.csc-firstheader {
        display: none !important;
    }
</style>
<!-- ###TEMPLATE_SINGLE### end -->

<!-- ############################################################################################################################# -->

<!-- ###TEMPLATE_SINGLE2### begin
variant of TEMPLATE_SINGLE with 3 imagemarkers (prepared for imageMarkerOptionSplit)
-->
<div class="news-single-item">
    ###NEWS_CATEGORY_ROOTLINE###
    ###NEXT_ARTICLE###
    ###PREV_ARTICLE###
    <div class="news-single-rightbox">
        ###NEWS_DATE### ###NEWS_TIME### ###TEXT_NEWS_AGE### ###NEWS_AGE###
        ###CATWRAP_B### ###TEXT_CAT### ###NEWS_CATEGORY### ###NEWS_CATEGORY_IMAGE### ###CATWRAP_E###
        ###NEWS_AUTHOR###
    </div>
    <h2>###NEWS_TITLE###</h2>
    ###NEWS_SUBHEADER###
    <div class="cf"></div>
    ###NEWS_IMAGE_1###
    ###NEWS_CONTENT###

    <div class="cf"></div>
    ###NEWS_IMAGE_2###
    <div class="cf"></div>
    ###ADDINFO_WRAP_B###

    ###TEXT_RELATED###
    ###NEWS_RELATED###

    ###TEXT_FILES###
    ###FILE_LINK###

    ###TEXT_LINKS###
    ###NEWS_LINKS###

    ###TEXT_RELATEDBYCATEGORY###
    ###NEWS_RELATEDBYCATEGORY###

    ###ADDINFO_WRAP_E###
    ###NEWS_IMAGE_3###
    ###NEWS_SINGLE_PAGEBROWSER###
    <div class="news-single-backlink">
        <!--###LINK_ITEM###-->
        ###BACK_TO_LIST###<!--###LINK_ITEM###-->
    </div>
</div>
<!-- ###TEMPLATE_SINGLE2### end -->

<!-- ############################################################################################################################# -->

<!-- ###TEMPLATE_SINGLE_RECORDINSERT### begin
This subpart is used to display single news items
-->
<div class="news-single-item">
    <div class="news-single-timedata">
        ###NEWS_DATE### ###NEWS_TIME### ###TEXT_NEWS_AGE### ###NEWS_AGE###
    </div>
    <h2>###NEWS_TITLE###</h2>
    ###CATWRAP_B### ###TEXT_CAT### ###NEWS_CATEGORY### ###NEWS_CATEGORY_IMAGE### ###CATWRAP_E###
    ###NEWS_AUTHOR###

    ###NEWS_SUBHEADER###

    ###NEWS_IMAGE###
    ###NEWS_CONTENT###

    ###ADDINFO_WRAP_B###

    ###TEXT_RELATED###
    ###NEWS_RELATED###

    ###TEXT_FILES###
    ###FILE_LINK###

    ###TEXT_LINKS###
    ###NEWS_LINKS###

    ###TEXT_RELATEDBYCATEGORY###
    ###NEWS_RELATEDBYCATEGORY###
    ###ADDINFO_WRAP_E###
    ###NEWS_SINGLE_PAGEBROWSER###
    <div class="news-single-backlink">
        <!--###LINK_ITEM###-->
        ###BACK_TO_LIST###<!--###LINK_ITEM###-->
    </div>
</div>
<!-- ###TEMPLATE_SINGLE_RECORDINSERT### end -->

<!-- ############################################################################################################################# -->

<!-- ###TEMPLATE_SINGLE_FORUM### begin
This subpart is used to display single news items
-->
<div class="news-single-item">
    <div class="news-single-timedata">
        ###NEWS_DATE### ###NEWS_TIME### ###TEXT_NEWS_AGE### ###NEWS_AGE###
    </div>
    <h3>###NEWS_TITLE###</h3>
    ###CATWRAP_B### ###TEXT_CAT### ###NEWS_CATEGORY### ###NEWS_CATEGORY_IMAGE### ###CATWRAP_E###
    ###NEWS_AUTHOR###

    ###NEWS_SUBHEADER###

    ###NEWS_IMAGE###
    ###NEWS_CONTENT###

    <div class="news-single-backlink">
        <!--###LINK_ITEM###-->
        ###BACK_TO_LIST###<!--###LINK_ITEM###-->
    </div>
</div>
<!-- ###TEMPLATE_SINGLE_FORUM### end -->

<!-- ############################################################################################################################# -->

<!-- ###TEMPLATE_ARCHIVE### begin
Subpart for the news archive menu
-->
<div class="news-amenu-container">
    <ul>
        <!-- ###CONTENT### begin -->
        <!-- ###MENUITEM### begin -->
        ###ARCHIVE_YEAR###
        <li ###ARCHIVE_ACTIVE###>
            <!--###LINK_ITEM###-->
            ###ARCHIVE_TITLE###: ###ARCHIVE_COUNT### ###ARCHIVE_ITEMS###<!--###LINK_ITEM###-->
        </li>
        <!-- ###MENUITEM### end-->
        <!-- ###CONTENT###  end -->
    </ul>
</div>
<!-- ###TEMPLATE_ARCHIVE### end -->

<!-- ############################################################################################################################# -->

<!-- ###TEMPLATE_ARCHIVE_NOITEMS### begin
Shown if the archive has no items!
-->
<div class="news-amenu-container">
    <ul>
        <li>
            ###ARCHIVE_EMPTY_MSG###
        </li>
    </ul>
</div>
<!-- ###TEMPLATE_ARCHIVE_NOITEMS### end -->

<!-- ############################################################################################################################# -->

<!-- ###TEMPLATE_SEARCH### begin
Subpart for the search-form
-->
<div class="news-search-form">
    <form method="post" action="###FORM_URL###">
        <input size="30" maxlength="100" type="text" name="tx_ttnews[swords]" value="###SWORDS###" />
        <span class="news-search-form-submit">
            <input type="submit" name="search" value="###SEARCH_BUTTON###" />
        </span>
    </form>
</div>
<!-- ###TEMPLATE_SEARCH### end -->

<!-- ###TEMPLATE_SEARCH_EMPTY### begin -->
<div class="news-search-emptyMsg">
    ###SEARCH_EMPTY_MSG###
</div>
<!-- ###TEMPLATE_SEARCH_EMPTY### end -->

<!-- ############################################################################################################################# -->

<!-- ###TEMPLATE_HEADER_LIST### begin -->

<!-- ###CONTENT### begin
This is the part of the template substituted with the list of news:
-->
<!-- ###NEWS### begin
Template for a single item
-->
<div class="news-header-list-container">
    <div class="news-header-list-title">
        <!--###LINK_ITEM###-->
        ###NEWS_TITLE###<!--###LINK_ITEM###-->
    </div>
    <div class="news-header-list-time">
        ###NEWS_TIME###
    </div>
    <div class="news-header-list-categories">
        ###TEXT_CAT_LATEST### ###NEWS_CATEGORY### ###NEWS_CATEGORY_IMAGE###
    </div>

</div>

<!-- ###NEWS### end-->

<!-- ###CONTENT###  end -->
###BROWSE_LINKS###

<!-- ###TEMPLATE_HEADER_LIST### end -->

<!-- ############################################################################################################################# -->

<!-- ###TEMPLATE_CAT_RELATED### begin -->
<!-- ###CONTENT### begin
This is the part of the template substituted with the list of news:
-->
<!-- ###NEWS### begin
Template for a single item
-->
###GW2B### <!--###LINK_ITEM###-->
###NEWS_TITLE###<!--###LINK_ITEM###-->
###NEWS_DATE### ###NEWS_TIME###  ###GW2E### <!-- ###NEWS### end-->
<!-- ###CONTENT###  end -->
<!-- ###TEMPLATE_CAT_RELATED### end -->

<!-- ############################################################################################################################# -->

<!-- ###TEMPLATE_RELATED### begin -->
<!-- ###CONTENT### begin
This is the part of the template substituted with the list of news:
-->
<!-- ###NEWS### begin
Template for a single item
-->
<!--###LINK_ITEM###-->
###NEWS_IMAGE###<!--###LINK_ITEM###-->
###GW2B### <!--###LINK_ITEM###-->
###NEWS_TITLE###<!--###LINK_ITEM###-->
###NEWS_DATE### ###NEWS_TIME###  ###GW2E### <!-- ###NEWS### end-->
<!-- ###CONTENT###  end -->
<!-- ###TEMPLATE_RELATED### end -->