body #gplusLikeBox {
  
  display: inline-block !important;
  width: 100% !important;
  min-width: 480px !important;
  max-width: 100% !important;
  height: auto !important;
  min-height: 240px !important;
  
}
