#login {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  z-index: 1000 !important;
  
  border: 15px solid $upperBar-color !important;
  
  -webkit-box-shadow: inset 0 0 240px 0 rgba(255,255,255,0.1);
  box-shadow: inset 0 0 240px 0 rgba(255,255,255,0.1);
  
  * {
    border-width: 0 !important;
  }
  
  legend {
    display: none;
  }
  
  h2:first-of-type,
  h3:first-of-type {
    display: none;
  }
  
  input {
    clear: both;
    float: left;
    width: 100%;
    background-color: $interactField-color !important;
    padding: 6px 10px !important;
  }
  
  input[type="submit"], button {
    clear: both;
    float: left;
    width: 100%;
    background-color: $interactButton-color !important;
    margin: 15px 0;
    &:hover {
      background-color: $interactButton-color + #111 !important;
    }
  }
  
}

div#gplus {
  float: right;
} 