#login {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  z-index: 1000 !important;
  
  width: 100% !important;
  min-width: 320px !important;
  max-width: 20% !important;
  
  border: 15px solid $upperBar-color !important;
  
  -webkit-box-shadow: inset 0 0 240px 0 rgba(255,255,255,0.1);
  box-shadow: inset 0 0 240px 0 rgba(255,255,255,0.1);
  
  input {
    clear: both;
    float: left;
    width: 100%;
    background-color: $interactField-color !important;
    padding: 6px 10px !important;
  }
  
  input[type="submit"], button {
    clear: both;
    float: left;
    width: 100%;
    background-color: $interactButton-color !important;
    margin: 15px 0;
    &:hover {
      background-color: $interactButton-color + #111 !important;
    }
  }
  
  * {
    border-width: 0 !important;
  }

  legend {
    display: none;
  }
  
  h2:first-of-type,
  h3:first-of-type {
    display: none;
  }
  
  label, input, button {
    width: 100% !important;
    min-width: 100% !important;    
    max-width: 100% !important;
  }
  label:first-of-type {
    margin-top: 15px;
  }
  
}

div#gplus {
  float: right;
} 

body {
  input:focus, textarea:focus, select:focus, option:focus {
    -webkit-box-shadow: 0 0 5px 0 #e8f0ff !important;
    box-shadow: 0 0 5px 0 #e8f0ff !important;
  }
}

@media all and (min-width:640px) {
  
  #login {
      position: absolute !important;
      display: none;
      max-width: 20% !important;
      min-height: 0 !important;
      border: 15px solid $upperBar-color !important;
  }
    
}

@media all and (max-width:639px) {
  
  #login {
      position: relative !important;
      display: inline-block !important;
      top: 0 !important;
      max-width: 100% !important;
      min-height: 280px !important;
      border: none !important;
      opacity: 1 !important;
  }
    
}
