/* ---------------------------------------------------------------------------------------- */

$sizeHeadline: 60px; 

/* ---------------------------------------------------------------------------------------- */

* {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 100 !important;
  letter-spacing: 0.008em !important;
}

*, *:hover, *:focus {
  text-decoration: none !important;
  border-collapse: collapse !important;
  border: none !important;
  outline: none;
}

br {
  line-height: 175% !important;
}

#page {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: auto !important;
  min-height: 100%;
  
  label {
    font-size: 1.25em !important;
  }
  
  button, input[type="submit"] {
    font-size: 1.25em !important;
  }
  
  #header {
    
    #logo {
      h1 {
        font-size: 4.7em !important;
      }
    }
    .body {
      h3 {
        font-size: 61px !important;
      }
    }
    
  }
  
  #navi {
    p {
      font-size: 2em !important;
    }
  }
  
  #stage {
    
    p, li {
      font-size: 1.2em !important;
    }
    
    a {
      text-decoration: none !important;
      border-bottom: 1px dotted #fff !important;
      &:hover {
        color: $highlightGlowColor !important;
        border-bottom: 3px solid #fff !important;
      }
    }
    
    #cWrap {
      > * {
      font-size: 1em !important;
      }
    }
    
    #navi {
      * {
        font-size: 0.75 !important;
      }
    }
    
    #content {
      max-width: 96% !important;
      padding-right: 5% !important;
    }
    
    #sidebar {
      margin-left: 0 !important;
      * {
        font-size: 0.75 !important;
      }
    }
    
  }
  
  #footer {
    ul.left, ul.right {
      li {
        p {
          line-height: 50% !important;
        }
      }
    }
    ul.middle {
      li {
        p {
          line-height: 100% !important;
        }
      }
    }
    li > * {
      font-size: 1.5em !important;
    }
    li + li > * {
      font-size: 1em !important;
    }
  }
  
  .ecResponsiveDesign {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: -90px;
    
    * {
      color: #fff !important;
    }
    img {
      width: 100%;
      min-width: 280px;
      max-width: 75%;
    }
  }
  
}

.placeholder {
  max-height: 420px;
}

form * {
  background: none !important;
}

ul {
  line-height: 200% !important;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 30px;
  
  li {
    position: relative;
    top: -5px;
    padding-left: 0px !important;
  } 
}

hr {
  color: #fff !important;
  border-color: #fff !important;
  background-color: #fff !important;
}

body header {
  > *:first-of-type {
    background-image: none; //url('http://loopshape.org/fileadmin/templates/loopshape/img/area/ArrowLiner.png');
    background-repeat: no-repeat;
    background-attachment: right;
    background-size: box-sizing;
  }
}

body select {
  max-height: 100% !important;
  font-size: 24px !important;
  
  option {
    font-size: 14px !important;
  }
}

body .placeholder {
  position: relative;
  left: 30px !important; 
  
  .aboutmePic {
    position: relative;
    left: 0 !important;
    display: block;
    width: 100%;
    max-width: 94%;
    float: none;
    padding: 0 !important;
    background-color: $areaContentColor !important;
    border: 15px solid $areaContentColor !important;
  }
  
}

@media all and (max-width:1600px) {
  
  #page {
  
    #header {
      
      #logo {
        h1 {
          font-size: 3.4em !important;
        }
      }
      .body {
        h3 {
          font-size: 46px !important;
        }
      }
      
    }
    
  }
  
}

@media all and (max-width:1600px) {
  
  #page {
  
    #header {
      
      #logo {
        h1 {
          font-size: 2.4em !important;
        }
      }
      .body {
        h3 {
          font-size: 28px !important;
        }
      }
      
    }
    
  }
  
}
      
h6 {
  font-size: 1em !important;
}

h5 {
  font-size: 1.25em !important;
}

h4 {
  font-size: 1.75em !important;
}

h3 {
  font-size: 2.2em !important;
}

h2 {
  font-size: 2.75em !important;
  text-shadow: 0 0 2px #fff !important;
}

h1, h2.h1 {
  font-size: 3.5em !important;
  text-shadow: 0 0 2px #fff !important;
}

